* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
}

.form-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 12px;

  border: 1px solid rgba(255,255,255,0.3);

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  position: relative;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus {
  border-color: #4facfe;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00c6ff;
}

p {
  margin-top: 15px;
  text-align: center;
}

span {
  color: #4facfe;
  cursor: pointer;
  font-weight: bold;
}