<!DOCTYPE html>
<html>
<head>
<title>ChatIO Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-box">

<h2>ChatIO</h2>

<form method="POST" action="/login">
<input type="text" name="username" placeholder="Username" required>
<input type="password" name="password" placeholder="Password" required>
<button type="submit">Login</button>
</form>

<form action="/register" method="POST">
<input type="text" name="username" placeholder="New Username" required>
<input type="password" name="password" placeholder="New Password" required>
<button type="submit">Register</button>
</form>

</div>

</body>
</html>